# FILES TO IGNORE IN THE GITIGNORE


#IGNORE THE NODE MODULES
node_modules/

#IGNORE THE ENV FILES
*.env

#IGNORE THE DS STORE FILES
.DS_Store/

#IGNORE THE VSCODE FILES
.vscode/

#IGNORE THE DS STORE FILES
build/